:root {
  --colorMain: rgb(153, 202, 155);
  --colorSec: rgb(2, 65, 6);
  --colorThi: rgb(180, 174, 119);
  --colorFour: rgb(90, 124, 92);
  --colorFive: rgb(228, 224, 205);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeNav {
  background-image: linear-gradient(to left, var(--colorMain), var(--colorSec));
  color: var(--colorFive);
  margin-bottom: 4%;
  border-bottom: 3px solid var(--colorThi);
}

.nav-link,
.navbar-brand {
  color: var(--colorFive);
}

.nav-link:hover,
.navbar-brand:hover {
  color: white;
}

.homebanner {
  margin-right: 10%;
}

.flexWrap {
  display: flex;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
}

.menuPosition {
  color: white;
  height: 400px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom,
    var(--colorThi),
    var(--colorSec)
  );
  align-content: center;
  justify-content: center;
  border: solid green;
  box-shadow: 0 0px 12px 6px gold;
  text-align: center;
}

.mapPosition {
  width: 50%;
  margin-left: 3%;
  margin-right: 50%;
  margin-bottom: 70%;
}

.birdCard {
  background-image: linear-gradient(
    to bottom,
    var(--colorThi),
    var(--colorSec)
  );
  border-style: solid 6px black;
  border-color: var(--colorSec);
  box-shadow: 0 0px 16px 3px var(--colorThi);
  margin: 3%;
  margin-left: 15%;
}

.bird-img {
  border-bottom: solid 1px black;
  height: 250px;
}

.button-container {
  display: flex;
}

.add-button {
  width: 50%;
  color: var(--colorFive);
  font-weight: bold;
  background-color: var(--colorSec);
  border-radius: 5px;
  border: 1px solid var(--colorThi);
  margin: 2%;
}

.add-button:hover {
  box-shadow: 0 0px 8px 6px var(--colorFour);
  cursor: pointer;
}

.goSomewhere {
  color: var(--colorFive);
  font-family: sans-serif;
  font-weight: bolder;
  font-size: large;
  padding: 0.5rem;
  background-color: var(--colorSec);
  border-width: 1.5px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--colorMain);
}

.goSomewhere:hover {
  background-color: var(--colorThi);
  color: black;
}

.loginHeader {
  background-image: linear-gradient(to left, var(--colorMain), var(--colorSec));
  color: white;
}

.loginContainer {
  background-color: var(--colorFive);
  width: 35%;
  height: 50%;
  margin: auto;
  margin-top: 7.5%;
  border-style: solid;
  border-color: var(--colorThi);
  box-shadow: 0 0px 24px 10px var(--colorSec);
}

.login-body {
  background-color: var(--colorFive);
  text-align: center;
}

.labelExtra {
  margin-top: 2%;
  margin-left: 3%;
  color: black;
}

.loginLink {
  margin-top: 5%;
  margin-bottom: 2%;
  color: black;
}

.inputExtra {
  margin-left: 1%;
  margin-right: 1%;
  width: fit-content;
  border-style: solid;
  border-color: var(--colorSec);
}

.loginButton {
  width: 50%;
  color: var(--colorFive);
  font-family: sans-serif;
  font-weight: bolder;
  font-size: large;
  padding: 0.5rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  background-color: var(--colorSec);
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--colorThi);
  cursor: pointer;
}

.loginButton:hover {
  box-shadow: 0 0px 8px 6px var(--colorFour);
}

.profile-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.watch-list {
  background-color: rgb(90, 124, 92);
  color: white;
  width: 75%;
  margin: 2%;
  height: fit-content;
  align-content: center;
  justify-content: center;
  border: solid green;
  box-shadow: 0 0px 12px 6px gold;
  text-align: center;
}

.spotted-list {
  background-color: rgb(90, 124, 92);
  color: white;
  width: 75%;
  margin: 2%;
  height: fit-content;
  align-content: center;
  justify-content: center;
  border: solid green;
  box-shadow: 0 0px 12px 6px gold;
  text-align: center;
}

.name-container {
  color: white;
  width: 75%;
  margin: 2%;
  height: fit-content;
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom,
    var(--colorThi),
    var(--colorSec)
  );
  align-content: center;
  justify-content: center;
  border: solid green;
  box-shadow: 0 0px 12px 6px gold;
  text-align: center;
}

#videobg {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  #videobg {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videobg {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 374px) {
  #videobg {
    display: none;
  }
}
